extends layout

block content
    include user-card
    include die

    #dice-panels
        #modal 
            #modal-message Hey, this is a message.

        #hand-score



        #dice-panel.panel
            .panel-header(onclick='togglePanel(this)') Play Saiko Kismet
            #dice-box.scene
                #opponent-box 
                    #opponent-dice
                #player-box 
                    #player-dice




    #side-panels
        #lobby-panel.panel 
            .panel-header(onclick='togglePanel(this)') Game Finder 

            #key-box
            #join-game-box 
                input#join-game-input(placeholder="Friend's Key" value='111111') 
                button#join-game-btn(onclick='joinRoom()') Join Game

            #joined-game-box


        #friends-panel.panel 
            .panel-header(onclick='togglePanel(this)') Dice
            button(onclick='keepHand()') Next Hand
            button(onclick='rollAllDice()') Roll All Dice
            button(onclick='endTurn()') End Turn
            button#new-game-btn(onclick='startGame()') New Game

            #score-board    
                .score-username Player 
                .score-username Opponent 
                #player-score 0
                #opponent-score 0

        #message-panel.panel
            .panel-header(onclick='togglePanel(this)') Messages 
            ul#messages
            #message-box
                input#message-input(autocomplete="off")
                button#message-send-btn(onclick='sendMessage()') Send




    script(src='/javascripts/script.js')
    
    <script src="/socket.io/socket.io.js"></script>
    script(src='/javascripts/dice.js')
    //- script(src='/javascripts/dice-multiplayer.js')