extends layout

block content
    include user-card

    #friends-panels
        #friends-panel.panel
            .panel-header(onclick='togglePanel(this)') Play Saiko Kismet


    #side-panels


        #friends-panel.panel 
            .panel-header(onclick='togglePanel(this)') Dice

        #message-panel.panel
            .panel-header(onclick='togglePanel(this)') Messages 
            <ul id="messages"></ul>
            <form id="form" action="">
                <input id="input" autocomplete="off" /><button>Send</button>
            </form>

        #dice-panel.panel.collapsed
            .panel-header(onclick='togglePanel(this)') Cosmetics
 
        #users-panel.panel 
            .panel-header(onclick='togglePanel(this)') Users

            #user-list 
                //- each user in user_list 
                //-     .user-list-username.username= user.username
                //-         +user-card(user)



    script(src='/javascripts/script.js')
    script(type='module' src='/javascripts/dice.js')