extends layout

block content
    include user-card
    include die

    #dice-panels
        #modal 
            #modal-message Hey, this is a message.

        #dice-panel.panel
            .panel-header Play Saiko Kismet
            #dice-box.scene
                #opponent-box 
                    #opponent-dice

                #hand-score-box
                    #hand-score 0

                #player-box 
                    #player-dice





    #side-panels
        #message-panel.panel
            .panel-header Messages 
            <ul id="messages"></ul>
            <form id="form" action="">
                <input id="input" autocomplete="off" /><button>Send</button>
            </form>
            
        #dice-btns-panel.panel 
            .panel-header Dice
            button#new-game-btn New Game

            #score-board    
                #player-username= user ? user.username : 'Anonymous'  
                #opponent-username Opponent 
                #player-score 0
                #opponent-score 0

            #dice-btn-box 
                
                button#roll-dice-btn Roll All Dice
                button#end-turn-btn End Turn
                button#keep-hand-btn Next Hand





    script(src='/javascripts/script.js')
    
    <script src="/socket.io/socket.io.js"></script>
    script(src='/javascripts/dice.js')