extends layout

block content
    include user-card
    include die

    #dice-panels
        #modal 
            #modal-message Hey, this is a message.

        #hand-score



        #dice-panel.panel
            .panel-header Play Saiko Kismet
            #dice-box.scene
                #opponent-box 
                    #opponent-dice
                #player-box 
                    #player-dice





    #side-panels


        #friends-panel.panel 
            .panel-header Dice
            button#keep-hand-btn Next Hand
            button#roll-dice-btn Roll All Dice
            button#end-turn-btn End Turn
            button#new-game-btn New Game

            #score-board    
                .score-username Player 
                .score-username Opponent 
                #player-score 0
                #opponent-score 0

        #message-panel.panel
            .panel-header Messages 
            <ul id="messages"></ul>
            <form id="form" action="">
                <input id="input" autocomplete="off" /><button>Send</button>
            </form>

        #dice-panel.panel.collapsed
            .panel-header Cosmetics

        #users-panel.panel 
            .panel-header Users

            #user-list 
                //- each user in user_list 
                //-     .user-list-username.username= user.username
                //-         +user-card(user)



    script(src='/javascripts/script.js')
    
    <script src="/socket.io/socket.io.js"></script>
    script(src='/javascripts/dice.js')