extends layout

block content
    include user-card
    include die

    #dice-panels
        #modal 
            #modal-message Hey, this is a message.

        #hand-score(style='display: none')



        #lobby-panel.panel 
            .panel-header(onclick='togglePanel(this)') Game Finder 

            #key-box
            #join-game-box 
                input#join-game-input(placeholder="Friend's Key")
                button#join-game-btn(onclick='joinRoom()') Join Game

            #joined-game-box



        #dice-panel.panel.collapsed
            .panel-header(onclick='togglePanel(this)') Play Saiko Kismet
            #dice-box.scene
                #opponent-box 
                    #opponent-dice
                #player-box 
                    #player-dice




    #side-panels


        #friends-panel.panel 
            .panel-header(onclick='togglePanel(this)') Dice
            button(onclick='keepHand()') Next Hand
            button(onclick='rollAllDice()') Roll All Dice
            button(onclick='endTurn()') End Turn
            button(onclick='startGame()') New Game

            #score-board    
                .score-username Player 
                .score-username Opponent 
                #player-score 0
                #opponent-score 0

        #message-panel.panel
            .panel-header(onclick='togglePanel(this)') Messages 
            <ul id="messages"></ul>
            <form id="form" action="">
                <input id="input" autocomplete="off" /><button>Send</button>
            </form>

        #dice-panel.panel.collapsed
            .panel-header(onclick='togglePanel(this)') Cosmetics

        #users-panel.panel 
            .panel-header(onclick='togglePanel(this)') Users

            #user-list 
                //- each user in user_list 
                //-     .user-list-username.username= user.username
                //-         +user-card(user)



    script(src='/javascripts/script.js')
    
    <script src="/socket.io/socket.io.js"></script>
    script(src='/javascripts/dice.js')
    script(src='/javascripts/dice-multiplayer.js')