extends layout

block content
    include user-card
    include die

    #dice-panels
        #modal 
            #modal-message Hey, this is a message.

        #hand-score



        #dice-panel.panel
            .panel-header Play Saiko Kismet
            #dice-box.scene
                #opponent-box 
                    #opponent-dice.multiplayer-opponent-box
                #player-box 
                    #player-dice




    #side-panels
        #lobby-panel.panel 
            .panel-header Game Finder 

            #key-box
            #join-game-box 
                input#join-game-input(placeholder="Friend's Key" value='111111') 
                button#join-game-btn Join Game

            #joined-game-box


        #friends-panel.panel 
            .panel-header Dice
            button#keep-hand-btn Next Hand
            button#roll-dice-btn Roll All Dice
            button#end-turn-btn End Turn
            button#new-game-btn New Game

            #score-board    
                .score-username Player 
                .score-username Opponent 
                #player-score 0
                #opponent-score 0

        #message-panel.panel
            .panel-header Messages 
            ul#messages
            #message-box
                input#message-input(autocomplete="off")
                button#message-send-btn Send




    script(src='/javascripts/script.js')
    
    <script src="/socket.io/socket.io.js"></script>
    script(src='/javascripts/dice.js')
    //- script(src='/javascripts/dice-multiplayer.js')