doctype html
html
    head
        title= title
        link(rel='stylesheet' href=`/stylesheets/style.css`)
        link(rel='stylesheet' href=`/stylesheets/dice.css`)
        if sheet 
            link(rel='stylesheet' href=`/stylesheets/${sheet}.css`)
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body

        #navbar 


            #user-info(user=`${user ? JSON.stringify(user) : ''}`)

            a(href='/') Home
            a(href='/dice') Play Dice Locally
            a(href='/dice/multiplayer') Play Dice Online


            if user 
                a(href=`/users/${user.username}`)= user.username
                
                
                a(href='/sign-out') Sign Out

            else 
                a(href='/sign-up') Sign Up/Sign In
                div Please sign in
                

        #main-content
            block content
