doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/style.css')
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body


        #navbar 
            a(href='/') Home
            a(href='/sign-up') Sign Up

        block content
