:root {
    --russian: #23022E;
    --silver: #ADA8B6;
    --spanish: #45236d;
    --deep-spanish: #2a0e47;
    --cerise: #D0E3C4;
    --cerise2: rgb(124, 22, 47);

    --panel-height: 50px;
}


#dice-panels {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;


    position: relative;
    z-index: 1;
}

#dice-panels>.panel {
    flex-grow: 1;
}

#dice-box {
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    background-color: rgba(0, 238, 255, 0);
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    transform-style: preserve-3d;
}
#player-box, #opponent-box {
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: column;

    filter: brightness(0.6);
    transition: all 0.1s;
    pointer-events: none;

    transform-style: preserve-3d;
}

#opponent-box {
    background-color: rgba(126, 252, 0, 0);
}

#player-box {
    flex-direction: column-reverse;   
}

#player-box.current-turn, #opponent-box.current-turn {
    filter: brightness(1);
    pointer-events: all;
}

#player-dice, #opponent-dice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    background-color: rgba(240, 128, 128, 0);

    transform-style: preserve-3d;
    perspective: 2000px;
    perspective-origin: 50% 50%;

    /* transform: rotateX(45deg) rotateY(0deg); */
}

#player-dice {
    flex-wrap: wrap-reverse;
}

.cube {
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center center;

    height: 100px;
    width: 100px;

    outline: 5px solid rgba(0, 128, 128, 0);

    transform: translateZ(50px) rotateX(360deg) rotateY(360deg);

    cursor: pointer;
    transition: all 0.2s;
    box-sizing: border-box;
}

.cube:not(.kept):hover {
    z-index: 2 !important;
    /* transform: translateZ(500px) rotateX(-45deg) rotateY(-45deg); */
    /* transform: translateZ(500px) rotateX(45deg) rotateY(-225deg); */
    transform: translateZ(400px) rotateX(360deg) rotateY(360deg);
}

@keyframes roll {
    0% {transform: translateZ(50px) rotateY(0deg) rotateZ(0deg);}
    50% {transform: translateZ(50px) rotateY(180deg) rotateZ(180deg);}
    100% {transform: translateZ(50px) rotateY(360deg) rotateZ(360deg);}
}

.cube.counted {
    z-index: 0;
}

.cube:not(.counted) {
    z-index: 1;
}

.cube.kept>.cube__face {
    filter: brightness(0.5);
}

.cube__face {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(165, 42, 42);
    /* border-radius: 20px; */

    transform-style: preserve-3d;
}

.cube.counted>.cube__face>.keep-btn {
    display: none;
}

.cube__face>.keep-btn {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    filter: opacity(0);

    background-color: teal;
    transition: all 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
}

.keep-btn>.keep-text {
    pointer-events: none;
}

.cube__face>.keep-btn:hover {
    background-color: rgb(33, 158, 158);
}

.cube.rolled>.cube__face:hover>.keep-btn {
    filter: opacity(1);
    pointer-events: all;
}

/* Hide opponent's keep buttons in multiplayer. */
.multiplayer-opponent-box .keep-btn {
    display: none;
}

.cube.rolled.kept>.cube__face:hover>.keep-btn {
    filter: opacity(0.8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translate(0%, 0%) translateZ(50px);

    pointer-events: all;
}

.cube__cover {
    filter: brightness(0.7);
    width: 70px;
    height: 70px;

    top: 50%;
    left: 50%;

    border-radius: 0%;

    clip-path: polygon(20% 53%, 47% 86%, 74% 53%);
}

.cube__cover--1 {
    transform: translateX(-50%) translateY(-50%) rotateY(45deg) rotateX(45deg) translateZ(60px);
}

.cube__cover--2 {
    transform: translateX(-50%) translateY(-50%) rotateY(135deg) rotateX(45deg)  translateZ(60px);
}

.cube__cover--3 {
    transform: translateX(-50%) translateY(-50%) rotateY(225deg) rotateX(45deg) translateZ(60px);
}

.cube__cover--4 {
    transform: translateX(-50%) translateY(-50%) rotateY(315deg) rotateX(45deg) translateZ(60px);
}

.cube__cover--5 {
    transform: translateX(-50%) translateY(-50%) rotateY(45deg) rotateX(-45deg) translateZ(60px);
    clip-path: polygon(20% 53%, 47% 25%, 74% 53%);
}

.cube__cover--6 {
    transform: translateX(-50%) translateY(-50%) rotateY(135deg) rotateX(-45deg) translateZ(60px);
    clip-path: polygon(20% 53%, 47% 25%, 74% 53%);
}

.cube__cover--7 {
    transform: translateX(-50%) translateY(-50%) rotateY(225deg) rotateX(-45deg) translateZ(60px);
    clip-path: polygon(20% 53%, 47% 25%, 74% 53%);
}

.cube__cover--8 {
    transform: translateX(-50%) translateY(-50%) rotateY(315deg) rotateX(-45deg) translateZ(60px);
    clip-path: polygon(20% 53%, 47% 25%, 74% 53%);
}



.cube__face--1 {
    transform: rotateY(0deg) translateZ(50px);
    filter: brightness(0.9);
}

.cube__face--1>.pip {
    top: 50%;
    left: 50%;
}

.cube__face--6 {
    transform: rotateY(-180deg) translateZ(50px);
    filter: brightness(0.9);
}

.cube__face--6>.pip:nth-child(1) {
    top: 25%;
    left: 25%;
}

.cube__face--6>.pip:nth-child(2) {
    top: 25%;
    left: 75%;
}

.cube__face--6>.pip:nth-child(3) {
    top: 50%;
    left: 25%;
}

.cube__face--6>.pip:nth-child(4) {
    top: 50%;
    left: 75%;
}

.cube__face--6>.pip:nth-child(5) {
    top: 75%;
    left: 25%;
}

.cube__face--6>.pip:nth-child(6) {
    top: 75%;
    left: 75%;
}

.cube__face--2 {
    transform: rotateY(90deg) translateZ(50px);
    filter: brightness(0.8);
}

.cube__face--2>.pip:nth-child(1) {
    top: 25%;
    left: 25%;
}

.cube__face--2>.pip:nth-child(2) {
    top: 75%;
    left: 75%;
}

.cube__face--5 {
    transform: rotateY(-90deg) translateZ(50px);
    filter: brightness(0.9);
}

.cube__face--5>.pip:nth-child(1) {
    top: 25%;
    left: 25%;
}

.cube__face--5>.pip:nth-child(2) {
    top: 50%;
    left: 50%;
}

.cube__face--5>.pip:nth-child(3) {
    top: 75%;
    left: 75%;
}

.cube__face--5>.pip:nth-child(4) {
    top: 25%;
    left: 75%;
}

.cube__face--5>.pip:nth-child(5) {
    top: 75%;
    left: 25%;
}

.cube__face--3 {
    transform: rotateX(90deg) translateZ(50px);
}

.cube__face--3>.pip:nth-child(1) {
    top: 25%;
    left: 25%;
}

.cube__face--3>.pip:nth-child(2) {
    top: 50%;
    left: 50%;
}

.cube__face--3>.pip:nth-child(3) {
    top: 75%;
    left: 75%;
}

.cube__face--4 {
    transform: rotateX(-90deg) translateZ(50px);
}

.cube__face--4>.pip:nth-child(1) {
    top: 25%;
    left: 25%;
}

.cube__face--4>.pip:nth-child(2) {
    top: 25%;
    left: 75%;
}

.cube__face--4>.pip:nth-child(3) {
    top: 75%;
    left: 25%;
}

.cube__face--4>.pip:nth-child(4) {
    top: 75%;
    left: 75%;
}

.pip {
    background-color: black;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.custom_pip {
    background-color: transparent;
    border-radius: 0%;
}



.cube.rolling {
    transition: all 0.5s;
    /* transform: rotateZ(180deg) rotateX(180deg) rotateY(90deg); */
    animation: rolling 0.245s 2;
    pointer-events: none;
}

@keyframes rolling {
    0% {transform: rotateZ(180deg) rotateX(180deg) rotateY(90deg);}
    50% {transform: rotateZ(45deg) rotateX(225deg) rotateY(360deg);}
    100% {transform: rotateZ(180deg) rotateX(180deg) rotateY(90deg);}
}

.cube.rolled-1 {
    transform: translateZ(50px) rotateX(360deg) rotateY(360deg);
}

.cube:not(.kept).rolled-1:hover {
    transform: translateZ(400px) rotateX(360deg) rotateY(360deg);
}

.cube.rolled-1>.cube__face:not(.cube__face--1)>.keep-btn {
    display: none;
}

.cube.rolled-1.counted {
    transform: translateZ(-50px) rotateX(360deg) rotateY(360deg);
}

.cube.rolled-2 {
    transform: translateZ(50px) rotateX(360deg) rotateY(270deg);
}

.cube:not(.kept).rolled-2:hover {
    transform: translateZ(400px) rotateX(360deg) rotateY(270deg);
}

.cube.rolled-2>.cube__face:not(.cube__face--2)>.keep-btn {
    display: none;
}

.cube.rolled-2.counted {
    transform: translateZ(-50px) rotateX(360deg) rotateY(270deg);
}

.cube.rolled-3 {
    transform: translateZ(50px) rotateX(270deg) rotateY(360deg);
}

.cube:not(.kept).rolled-3:hover {
    transform: translateZ(400px) rotateX(270deg) rotateY(360deg);
}

.cube.rolled-3>.cube__face:not(.cube__face--3)>.keep-btn {
    display: none;
}

.cube.rolled-3.counted {
    transform: translateZ(-50px) rotateX(270deg) rotateY(360deg);
}

.cube.rolled-4 {
    transform: translateZ(50px) rotateX(450deg) rotateY(360deg);
}

.cube:not(.kept).rolled-4:hover {
    transform: translateZ(400px) rotateX(450deg) rotateY(360deg);
}

.cube.rolled-4>.cube__face:not(.cube__face--4)>.keep-btn {
    display: none;
}

.cube.rolled-4.counted {
    transform: translateZ(-50px) rotateX(450deg) rotateY(360deg);
}

.cube.rolled-5 {
    transform: translateZ(50px) rotateX(360deg) rotateY(450deg);
}

.cube:not(.kept).rolled-5:hover {
    transform: translateZ(400px) rotateX(360deg) rotateY(450deg);
}

.cube.rolled-5>.cube__face:not(.cube__face--5)>.keep-btn {
    display: none;
}

.cube.rolled-5.counted {
    transform: translateZ(-50px) rotateX(360deg) rotateY(450deg);
}

.cube.rolled-6 {
    transform: translateZ(50px) rotateX(540deg) rotateY(360deg) rotateZ(180deg);
}

.cube:not(.kept).rolled-6:hover {
    transform: translateZ(400px) rotateX(540deg) rotateY(360deg) rotateZ(180deg);
}

.cube.rolled-6>.cube__face:not(.cube__face--6)>.keep-btn {
    display: none;
}

.cube.rolled-6.counted {
    transform: translateZ(-50px) rotateX(540deg) rotateY(360deg) rotateZ(180deg);
}

#modal {
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 3;

    transform: translate(-50%);
    padding: 20px;
    background-color: aquamarine;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    filter: opacity(0);
    pointer-events: none;
    transition: all 0.2s;
}

#modal.shown {
    filter: opacity(1);
    pointer-events: all;
}

#modal-message {

}

#hand-score-box {
    font-size: 4rem;

    background-color: var(--cerise);
    color: black;
    min-height: 5rem;
    min-width: 10rem;

    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#lobby-box {
    height: 100%;
    width: 100%;

    background-color: burlywood;

    display: flex;
    flex-direction: column;
}

#game-list {
    flex-grow: 1;
    background-color: coral;
}

.die>.cube__face::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: rgb(0, 128, 128);
    filter: opacity(0);
    /* outline: 5px solid rgba(0, 128, 128, 0); */
    transition: all 0.2s;
    pointer-events: none;
}

.die.hovered>.cube__face::after {
    filter: opacity(0.3);
    /* outline: 5px solid rgba(0, 128, 128, 0.787); */
}

.inlay {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    pointer-events: none;
}

#player-dice.winning .die, #opponent-dice.winning .die {
    animation: winani 1s infinite;
}

@keyframes winani {
    0% {transform: translateZ(50px) rotateX(360deg) rotateY(360deg);}
    50% {transform: translateZ(200px) rotateX(360deg) rotateY(360deg);}
    100% {transform: translateZ(50px) rotateX(360deg) rotateY(360deg);}
}

#dice-btns-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#new-game-btn {
    flex-grow: 0.25;
    background-color: #832719;
    color: var(--cerise);
    border: none;

    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;

    transition: all 0.2s;
}

#new-game-btn:hover {
    background-color: var(--spanish);
}

#score-board {
    flex-grow: 1;

    display: grid;
    grid-template-columns: auto auto;

    background-color: rgba(255, 0, 0, 0);
}

#dice-btn-box {
    flex-grow: 2;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

#dice-btn-box>button {
    border-radius: 10px;
    border: none;
    cursor: pointer;

    font-size: 1.5rem;
    transition: all 0.2s, transform 0s, border-radius 0s;
}

#dice-btn-box>button:hover {
    background-color: var(--spanish);
    color: var(--cerise);
}

#dice-btn-box>button:active {
    transform: scale(0.9);
    border-radius: 0px;
}

#keep-hand-btn {
    grid-column: span 2;
    background-color: #ADC698;
}

#roll-dice-btn {
    background-color: var(--cerise);
}

#end-turn-btn {
    background-color: #C05746;
}