:root {
    --russian: #23022E;
    --silver: #ADA8B6;
    --spanish: #45236d;
    --deep-spanish: #2a0e47;
    --cerise: #D0E3C4;
    --cerise2: rgb(124, 22, 47);

    --panel-height: 50px;
}

body {
    margin: 0;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    font-family: sans-serif;

    color: var(--cerise);
}

h1, h2 {
    margin: 0;
}

a {
    text-decoration: none;
}

#main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    padding: 10px;


    background-color: var(--spanish);

    flex-grow: 1;
    min-height: 0px;

    /* overflow: hidden; */
}

#navbar {
    display: flex;
    gap: 10px;
    padding: 10px;

    background-color: var(--cerise);
}

#navbar>a {
    color: black;
    text-decoration: none;
}

#navbar>a:hover {
    color: rgb(75, 75, 75);
}

.panel {
    box-sizing: border-box;
    background-color: var(--russian);
    position: relative;

    min-height: calc(var(--panel-height) - 10px);
    border-radius: 15px 15px 0px 0px;
    padding: var(--panel-height) 10px 10px 10px;

    transition: all 0.2s;
}

.panel.collapsed {
    flex-grow: initial !important;
    border-radius: 15px !important;

    padding: 0;
}

.panel.collapsed>.panel-header {
    border-radius: 15px;
}

.panel.collapsed>*:not(.panel-header) {
    display: none !important;
}

#feed-panel {
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

#friends-panel {}

#dice-panel {
    z-index: 2;

    display: flex;
    justify-content: center;
}

#side-panels {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#side-panels>.panel {
    flex-grow: 1;
}

.panel-header {
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    background-color: var(--cerise);
    color: black;
    padding: 10px 5px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;

    position: absolute;
    top: 0;
    left: 0;

    cursor: pointer;
    transition: inherit;
}

.panel-header:hover {
    background-color: var(--russian);
    color: white;
}

#post-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    flex-grow: 1;
    overflow-y: scroll;
}

/* width */
.custom-scroll::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;

    margin: 5px;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: rgb(26, 26, 26);
}

.post {
    background-color: var(--deep-spanish);
}

.post-header, .comment-header {
    background-color: var(--deep-spanish);

    display: grid;
    grid-template-columns: 4rem auto auto;
    grid-template-rows: auto auto;

    align-items: center;
    column-gap: 10px;
}

.comment-header {
    display: flex;
    align-items: center;
    background-color: var(--deep-spanish);
    padding-left: 10px;
}

.pic, .comment-pic, .card-pic {
    background-color: white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    height: 4rem;
    width: 4rem;

    image-rendering: pixelated;

    grid-row: span 2;
}

.comment-pic {
    height: 2rem;
    width: 2rem;
}

.post-title {
    grid-column: span 2;
    font-size: 1.5rem;
}

.post-namedate-box, .comment-namedate-box {
    display: flex;
    gap: 10px;
}

.post-username, .comment-username {
    color: var(--cerise)
}

.post-date, .comment-date {
    filter: opacity(0.5);
}

.post-content, .comment-content {
    padding: 10px;
}

.comment-content {
    background-color: var(--deep-spanish);
}

.post-comments {
    background-color: var(--spanish);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-comments form {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.post-comments input {
    flex-grow: 1;
}

#user-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-list-username {
    color: var(--cerise);
}

.username>* {
    color: white;
}

.username {
    position: relative;
    cursor: pointer;

    transition: all 0.2s;
}

.username:hover {
    color: var(--cerise2);
}

.user-card {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    transform: translate(0%, 100%);

    background-color: var(--cerise);
    padding: 5px;

    filter: opacity(0);
    pointer-events: none;

    transition: all 0.2s;
}

.username:hover>.user-card {
    pointer-events: all;
    filter: opacity(1);
}

.card-header {
    background-color: darkslategray;
    display: flex;
}

.card-pic {
    height: 2rem;
    width: 2rem;
}

.card-header-info {

}

.card-username {}

.card-likes {}

.card-join-date {}


.card-body {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.card-cards {
    height: 4rem;
    width: 4rem;

    background-color: var(--russian);
}

.card-dice {
    height: 4rem;
    width: 4rem;

    background-color: var(--russian);
}

.card-cosmetics {
    height: 4rem;
    width: 4rem;
    
    background-color: var(--russian);
}

.friend-btn {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    transform: translate(0%, 100%);
}

#friends-panels {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#friends-panels>.panel {
    flex-grow: 1;
}

.comment-likes, .post-likes {
    display: flex;
    gap: 5px;
    align-items: center;
}


#gacha-machine {
    background-color: rgb(53, 53, 53);
    height: 100%;
    width: 100%;

    max-width: 300px;
    border-radius: 100% 100% 0 0;

    display: flex;
    flex-direction: column;

    position: relative;
}

#gacha-top {
    background-color: white;
    flex-grow: 0.2;

    border-radius: 100% 100% 0 0;
}

#gacha-glass {
    z-index: 1;
    background-color: rgba(177, 233, 255, 0.445);
    flex-grow: 1;
}

#gacha-body {
    z-index: 1;
    background-color: pink;
    padding-top: 20px;

    display: flex;
    justify-content: end;


    transform: translateZ(200px);
    perspective: 2000px;
    perspective-origin: 50% 50%;

    transform-style: preserve-3d;

    clip-path: polygon(0% 0%, 0 42%, 0 100%, 10% 100%, 10% 50%, 50% 50%, 50% 100%, 81% 100%, 100% 100%, 100% 0%);
}

#gacha-bottom {
    background-color: white;
    flex-grow: 0.2;
}

#gacha-spout {
    background: rgb(63,63,63);
    background: linear-gradient(0deg, rgba(36, 36, 36, 1) 0%, rgb(36, 36, 36, 0.5) 47%, rgba(41, 41, 41, 0) 100%);

    position: absolute;
    bottom: 0%;
    left: 10%;

    height: 80%;
    width: 40%;
    border-radius: 0px 0px 20px 20px;

    display: flex;
    justify-content: center;
    align-items: end;

    align-self: flex-end;

    perspective: 2000px;
    perspective-origin: 50% 50%;

    transform: translateZ(-200px);

    transform-style: preserve-3d;
}

#gacha-spout:hover {
    z-index: 3;
    background: rgba(63, 63, 63, 0);
}

#crank-slot-box {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: end;
    gap: 10px;
    padding-bottom: 10px;

    width: 50%;
}

#slot-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

#gacha-credits {
    font-size: 2rem;
    background-color: black;
    width: 70%;
    text-align: center;
    border-radius: 10%;
}

#gacha-slot {
    height: 35px;
    width: 35px;
    min-width: 35px;

    background-color: grey;
    border-radius: 100%;
    position: relative;

    cursor: pointer;
}

#gacha-spout>.die {
    position: absolute;
    z-index: 0;

    animation: test 1s linear;
}

#gacha-spout>.die:hover {
    transform: translateZ(500px) translateY(0px) rotateX(45deg) rotateZ(45deg);
}

@keyframes test {
    0% {transform: translateZ(-1200px) translateY(-300%) rotateX(360deg) rotateY(360deg);}
    50% {transform: translateZ(-900px) translateY(-100%) rotateX(250deg) rotateY(360deg);}
    70% {transform: translateZ(50px) translateY(0px) rotateX(0deg) rotateY(360deg);}
    75% {transform: translateZ(80px) translateY(-15%) rotateX(-20deg) rotateY(360deg);}
    80% {transform: translateZ(100px) translateY(-25%) rotateX(-30deg) rotateY(360deg);}
    100% {transform: translateZ(50px) translateY(0px) rotateX(0deg) rotateY(360deg);}
}

#slot-hole {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: black;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 20%;
    border-radius: 20px;
}

#gacha-coin {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: gold;
    border: 3px solid rgb(141, 106, 17);
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    border-radius: 100%; 
    box-shadow: -5px 0px 0px rgb(141, 106, 17);

    filter: opacity(0);
}


#gacha-slot.coined #gacha-coin {
    animation: coined 0.3s;
}

@keyframes coined {
    0% {
        transform: translate(-50%, -150%) scaleX(1);
        box-shadow: -5px 0px 0px rgb(141, 106, 17);
        filter: opacity(1);
    }
    33% {
        transform: translate(-50%, -50%) scaleX(1);
        box-shadow: -5px 0px 0px rgb(141, 106, 17);
        filter: opacity(1);
    }
    66% {
        transform: translate(-50%, -50%) scaleX(0.3);
        box-shadow: -15px 0px 0px rgb(141, 106, 17);
        filter: opacity(1);
    }

    100% {
        transform: translate(-50%, -0%) scaleX(0);
        box-shadow: -15px 0px 0px rgb(141, 106, 17);
        filter: opacity(0.5);
    }
}

#buy-die-btn {
    height: 70px;
    width: 70px;

    background-color: rgb(61, 61, 61);
    border-radius: 100%;
    position: relative;

    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.2s;
}

#buy-die-btn:hover {
    transform: rotate(25deg);
}

#buy-die-btn.cranked {
    animation: cranked 0.6s;
}

@keyframes cranked {
    0% {transform: rotate(0deg);}
    75% {transform: rotate(360deg);}
    90% {transform: rotate(330deg);}
    100% {transform: rotate(360deg);}
}

#buy-die-btn.unafford {
    animation: unafford 0.5s;
}

@keyframes unafford {
    0% {transform: rotate(0deg);}
    75% {transform: rotate(45deg);}
    90% {transform: rotate(-25deg);}
    100% {transform: rotate(0deg);}
}

#crank-handle {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: white;
    transform: translate(-50%, -50%);
    height: 20%;
    width: 80%;
    border-radius: 20px;
}

.die.stored {
    z-index: 2;
    position: relative;
    animation: stored 1.5s linear !important;

    transform: translateY(2000px);
}

@keyframes stored {
    0% {transform: translateZ(50px) translateY(0px) rotateX(0deg) rotateY(360deg); display: initial;}
    45% {transform: translateZ(50px) translateY(0px) rotateX(0deg) rotateY(360deg); display: initial;}
    100% {transform: translateZ(2000px) translateY(300px) rotateX(720deg) rotateY(360deg); display: initial}

}

#users-panel {
    position: relative;
    z-index: 1;
}

#gacha-flap {
    position: absolute;
    z-index: 3;
    top: 60%;
    left: 0%;

    width: 100%;
    height: 20%;

    background-color: red;


    transform-origin: top;
    transform: translateZ(200px) rotateX(0deg);
}

#gacha-spout:hover #gacha-flap {
    filter: opacity(0);
}

#gacha-flap.flapped {
    animation: flapped 1s;
    animation-delay: 0.5s;
}

@keyframes flapped {
    0% {transform: translateZ(200px) rotateX(0deg);}
    25% {transform: translateZ(200px) rotateX(45deg);}
    50% {transform: translateZ(200px) rotateX(-15deg);}
    75% {transform: translateZ(200px) rotateX(20deg);}
    100% {transform: translateZ(200px) rotateX(0deg);}
}

.shine {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background: rgb(255,255,255);
    background: linear-gradient(323deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 35%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 65%, rgba(255,255,255,0) 100%);

    background-size: 600%;
    background-position: 100%, 100%;
    animation: shine 3s infinite linear;
}

@keyframes shine {
    0% { background-position: 0%, -0%; }
    40% { background-position: 0%, 0%; }



    50% { background-position: 50%, 50%; }

    60% { background-position: 100%, 100%; }
    100% { background-position: 100%, 100%; }
}

.pip.pipped {
    animation: pipped 2s infinite;
}

@keyframes pipped {
    0% {transform: translate(-50%, -50%) scale(1);}
    50% {transform: translate(-50%, -50%) scale(1.2);}
    100% {transform: translate(-50%, -50%) scale(1);}
}

#equipped-dice-panel, #dice-panel {
    overflow: visible;
}

#equipped-dice {
    box-sizing: border-box;

    height: 100%;
    width: 100%;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: start;
    justify-content: center;

    perspective: 2000px;
    perspective-origin: 50% 50%;

    transform-style: preserve-3d;
}

#user-dice {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#user-dice .die:hover, #equipped-dice>.die:hover {
    transform: translateZ(200px) translateY(0px) rotateX(45deg) rotateZ(45deg);
}

#dice-preview .die {
    display: none;
}

#dice-preview .shown {
    display: block;
}

#dice-info-preview {
    display: flex;
    justify-content: space-between;

    background-color: red;
}

#dice-extras {
    display: flex;

    justify-content: space-between;
}

#die-card-options {
    display: grid;
    grid-template-columns: auto auto auto;
}

.die-card {
    position: absolute;

    top: 0%;
    left: 100%;

    background-color: var(--spanish);
    color: white;
    filter: opacity(0);
    padding: 10px;


    transform: translate(-50%, -50%) translateZ(100px) rotateZ(-45deg)  rotateY(0deg);
    pointer-events: none;
}

.die-card>div {
    white-space: nowrap;
}

.die:hover .die-card {
    filter: opacity(1);
    pointer-events: all;
}

.equipped-index {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3rem;

    color: black;

    background-color: rgba(255, 255, 255, 0.623);
    padding: 2px 10px;
}

.unequip-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1rem;

    color: white;

    background-color: rgb(49, 49, 49);
    padding: 2px 10px;
}
